/*Im a cool Guy*/

/*styles of tags*/

html {
   background-color: grey;
}

footer {

  background-color: yellow;
}

.cool-guy {
   background-color: red;
}

header{
background-color: red;
  }
/*style of classes*/

/*ur lame*/
